<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app" class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(user, index) in users">
            <td>{{ user.id }}</td>
            <td>
                <input type="text"
                       class="name-input"
                       v-model="user.name"
                       @keyup.enter="focusNextNameInput()"
                       @blur="user.updatedAt = new Date()"
                >
            </td>
            <td>
                <input type="number"
                       class="age-input"
                       v-model="user.age"
                       @keyup.enter="focusNextAgeInput()"
                       @blur="user.updatedAt = new Date()"
                >
            </td>
            <td>{{ user.createdAt | formatDate }}</td>
            <td>{{ user.updatedAt | formatDate }}</td>
            <td>
                <span v-show="!isFull" @click="duplicate(user)" class="glyphicon glyphicon-duplicate"></span>
            </td>
            <td><span @click="remove(index)" class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr v-show="!isFull">
            <td>
                <span @click="append" class="glyphicon glyphicon-plus"></span>
            </td>
            <td>
                <input id="new-user-name"
                       type="text"
                       class="name-input"
                       v-model.trim="newUserName"
                       @keyup.enter="append" >
            </td>
            <td>
                <input id="new-user-age"
                       type="number"
                       class="age-input"
                       v-model.number="newUserAge"
                       @keyup.enter="append">
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            users: [
                {
                    id: 1,
                    name: 'Test',
                    age: 20,
                    createdAt: new Date(),
                    updatedAt: new Date()
                }
            ],
            nextId: 2,
            newUserName: '',
            newUserAge: null,
            maxLength: 5
        },
        computed: {
            isFull: function () {
                return this.users.length >= this.maxLength;
            }
        },
        methods: {
            append: function () {
                if (!this.newUserName || !this.newUserAge) {
                    return;
                }
                this.users.push({
                    id: this.nextId,
                    name: this.newUserName,
                    age: this.newUserAge,
                    createdAt: new Date(),
                    updatedAt: new Date()
                });
                this.nextId++;
                this.newUserName = '';
                this.newUserAge = null;
            },
            focusNextNameInput: function () {
                var nextInputIndex = $('input.name-input').index(document.activeElement) + 1;
                $('input.name-input')[nextInputIndex].focus();
            },
            focusNextAgeInput: function () {
                var nextInputIndex = $('input.age-input').index(document.activeElement) + 1;
                $('input.age-input')[nextInputIndex].focus();
            },
            duplicate: function (elem) {
                this.newUserName = elem.name;
                this.newUserAge = elem.age;
                $('#new-user-name').focus();
            },
            remove: function (index) {
                this.users.splice(index, 1);
            }
        },
        filters: {
            formatDate: function (datetime) {
                var year = datetime.getFullYear();
                var month = datetime.getMonth() + 1;
                var date = datetime.getDate();
                var hour = datetime.getHours();
                var minute = datetime.getMinutes();
                var second = datetime.getSeconds();
                return year + '-' + month + '-' + date + ' ' + hour + ':' + minute + ':' + second;
            }
        }
    });
</script>
</body>
</html>