<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app" class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(elem, index) in elements">
            <td>{{ elem.id }}</td>
            <td>
                <input type="text"
                       v-model="elem.name"
                       @keyup.enter="focusNextInput()"
                       @blur="elem.updatedAt = new Date()"
                >
            </td>
            <td>{{ elem.createdAt | formatDate }}</td>
            <td>{{ elem.updatedAt | formatDate }}</td>
            <td>
                <span @click="duplicate(elem.name)" class="glyphicon glyphicon-duplicate"></span>
            </td>
            <td><span @click="remove(index)" class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td>
                <span @click="append" class="glyphicon glyphicon-plus"></span>
            </td>
            <td>
                <input id="new-name" v-model.trim="newName" @keyup.enter="append" type="text">
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            elements: [
                {
                    id: 1,
                    name: 'Test',
                    createdAt: new Date(),
                    updatedAt: new Date()
                }
            ],
            nextId: 2,
            newName: ''
        },
        methods: {
            append: function () {
                if (!this.newName) {
                    return;
                }
                this.elements.push({
                    id: this.nextId,
                    name: this.newName,
                    createdAt: new Date(),
                    updatedAt: new Date()
                });
                this.nextId++;
                this.newName = '';
            },
            focusNextInput: function () {
                var nextInputIndex = $('input').index(document.activeElement) + 1;
                $('input')[nextInputIndex].focus();
            },
            duplicate: function (name) {
                this.newName = name;
                $('#new-name').focus();
            },
            remove: function (index) {
                this.elements.splice(index, 1);
            }
        },
        filters: {
            formatDate: function (datetime) {
                var year = datetime.getFullYear();
                var month = datetime.getMonth() + 1;
                var date = datetime.getDate();
                var hour = datetime.getHours();
                var minute = datetime.getMinutes();
                var second = datetime.getSeconds();
                return year + '-' + month + '-' + date + ' ' + hour + ':' + minute + ':' + second;
            }
        }
    });
</script>
</body>
</html>